// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.volume {
  width:75px;
}

input.ml {
  width:75px;
}

input#batchNumber {
  width:75px;
}

input#batchVolume {
  width:75px;
}